@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);
html{

	background: url(/assets/img/percy1.jpg) no-repeat center center fixed;
		  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.link-container{
	left: 15%;
	top: 15%;
	position: absolute;
	width: 350px;
font-family: 'Carrois Gothic', sans-serif;
}


a,p:hover{
	color: white;
	text-decoration: underline;
}

p{
	color: white;
	font-size: 100px;
}



@media all and (max-width: 400px) {


html{

			background: url(/assets/img/tweed.png);
	}
	p{
		font-size: 50px;
	}
	html:hover{
		text-decoration: none;
		color: white;
	}

.link-container{
	width: 200px;
}

}	
