@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);
html{

	background: url(/assets/img/grey.png);
}

.link-container{
	left: 15%;
	top: 15%;
	position: absolute;
	width: 350px;
font-family: 'Carrois Gothic', sans-serif;
}


li,a,p:hover{
	color: white;
	text-decoration: underline;

}

p{
	color: white;
	font-size: 100px;
}



@media all and (max-width: 600px) {

	p{
		font-size: 50px;
	}


.link-container{
	width: 200px;
}

}	
