@import url(http://fonts.googleapis.com/css?family=Marcellus);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);
html{

}

body{
background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  height: 100%;
}


.link-container{
	margin-top: 50px;
	/*background: rgba(0, 0, 0, 0.5);*/
	height: 100%;
	width: 100%;
	

}
.link p{
	color: white;
}
.link a {
	text-decoration: none !important;
	color: #000;
	font-size: 50px;
	height: 100%;
}

.link a:hover {
	text-decoration: none !important;
	color: #000;

}
	


video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(/assets/img/hannah.jpg) no-repeat;
background-size: cover;
}